<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @zipcode.value %>
</p>

<p>
  <strong>Image path:</strong>
  <%= @zipcode.image_path %>
</p>

<%= link_to 'Edit', edit_zipcode_path(@zipcode) %> |
<%= link_to 'Back', zipcodes_path %>
