<%= form_for(@number) do |f| %>
  <% if @number.errors.any? %>
    <div style="margin: 0px auto; width:50%" id="error_explanation">
      <h2><%= pluralize(@number.errors.count, "error") %> prohibited this number from being saved:</h2>

      <ul>
      <% @number.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style="margin: 0px auto; width:50%" class="field">
    <%= f.label :value %><br>
    <%= f.number_field :value %>
  </div>
<% end %>
